<hr style="margin-bottom: 20px" />
<footer
  style="
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #d7c3fb;
    text-align: center;
    padding: 10px;
  "
>
  <p style="color: #bb6af9">&copy; <%= new Date().getFullYear() %></p>
</footer>
